{% module Header() %}

<link rel="stylesheet" href="{{ static_url('css/login.css') }}" />

<div class="container">

    <form class="form-signin" method="post">
        <h3 class="form-signin-heading">登录</h3>
        <input type="text" class="input-block-level"  name="username" placeholder="用户名" value="{{ info['name'] }}">
        <input type="password" class="input-block-level" name="password" placeholder="密码">
        <input type="hidden" class="input-block-level" name="form" value="form">
        <if  condition="$CloseVerify != 1">
            <input type="text" class="input-block-level"  name="v_code" placeholder="验证码">
            <div class="control-group">
                <div class="controls">
                    <img src="#" id="v_code_img">
                </div>
            </div>
        </if>
        <button class="btn btn-large btn-primary" type="submit">登录</button>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/user/register">没有账号？马上去注册→</a>
    </form>
<div>{{ info['msg'] }}</div>
<div>{{ current_user }}</div>
</div>

{% module Footer() %}